# inputs.conf
# {{ ansible_managed }}

# default settings
[default]
host = {{ ansible_fqdn }}

# collect ansible logs
[monitor://{{ splunk_ansible_log }}]
disabled = false
index = applications
sourcetype = linux_messages_syslog

# collect system logs
[monitor://{{ splunk_system_log }}]
disabled = false
index = linux-security
sourcetype = linux_messages_syslog

# collect auth logs
[monitor://{{ splunk_auth_log }}]
disabled = false
index = linux-security
sourcetype = linux_secure

# collect audit logs
[monitor://{{ splunk_audit_log }}]
disabled = false
index = linux-security
sourcetype = linux_audit

# collect iptables logs
[monitor://{{ splunk_iptables_log }}]
disabled = false
index = linux-security
sourcetype = netfilter

# collect psad logs
[monitor://{{ splunk_psad_log }}]
disabled = false
index = linux-security
sourcetype = psad

{% if rsyslog_custom_logs is defined %} 
### additional log sources

{% for item in rsyslog_custom_logs %}
{% if item.type == 'file' %}
# collect {{ item.name }} logs
[monitor://{{ splunk_logs_home }}/{{ item.name}}.log]
disabled = false
index = applications
sourcetype = {{ item.splunk_sourcetype }}

{% elif item.type == 'socket' %}
# collect {{ item.name }} events from local socket
[{{ item.protocol }}://{{ item.port }}]
disabled = false
index = {{ splunk_index }}
sourcetype = {{ splunk_sourcetype }}
host = {{ ansible_fqdn }}
{% if item.protocol == 'udp' %}
no_appending_timestamp = true
{% endif %}

{% endif %}
{% endfor %}
{% endif %}
