#########################################################################
### custom monitoring rules
#########################################################################

{{ monit_custom_checks }}
