<!-- OSSEC agent config -->

<ossec_config>

  <client>
    <server-ip>{{ ossec_server_address }}</server-ip>
    <port>{{ ossec_server_port }}</port>
    <config-profile>{{ ansible_os_family }}</config-profile>
  </client>

</ossec_config>